<div id="main">
  <%= @msg %>
</div>

<div><%
price = 1000
result = price * 1.05
%></div>
<div><%= result %></div>

<%# コメントです。
    この行もコメント %>

<% msg = 'これはコメントではありません。'
   # これはコメントです。 %>

<%
=begin
%>
rescue Exception => e
<%
=end
%>

<!-- これはクライアント側に見えてしまうのね -->
